body {
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

.logo {
    background-image: url(logo.gpg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
}


h1 {
    font-weight: 800;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    width: 210px;
     border-radius: 40px;
    border: 1px solid;
    color: hsl(322, 100%, 66%);
    height:40px;
     background-color: white;
    border-color: hsl(322, 100%, 66%);
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 30px;
    margin-right: 150px;
}
.button-2 {
    display: flex;
    width: 210px;
     border-radius: 40px;
    border: 1px solid;
    color: hsl(322, 100%, 66%);
    height:40px;
     background-color: white;
    border-color: hsl(322, 100%, 66%);
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 30px;
    padding: 10px 40px;
 }


/*******************************************/
#divbig {
    display: flex;
    flex-direction: column;
}

/******************************************/
.section1 {
    background-color: white;
    text-align: center;
    margin-top: 110px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 h1 {
    text-transform: capitalize;
    text-align: center;
    align-items: center;
    color: hsl(192, 100%, 9%);
    font-family: Arial, Helvetica, sans-serif;
}

.section1 p {
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
    color: hsl(192, 100%, 9%);
    margin-top: 15px;  
}

.button-p {
    background-color: hsl(322, 100%, 66%);
    text-align: center;
    text-transform: capitalize;
    color: white;
    width: 150px;
    border-radius: 80px;
    border: none;
}

.button-p:active,
.button-p:focus {
    transform: scale(1.2); 
}

.image1 {
    width: 60%;
}

/*******************************************************/

.section2 {
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: white;
    gap: 100px;
    display: flex;
    justify-content: center;
}

.section2 p br {
    display: inline;
    text-align: center;
    color: gray;
    margin-left: 400px;
}

.section2 img {
    width: 100px;
    padding: 2px;
} 

/*************************************************************/

#section3 {
    background-image: url(images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}
/*****************************************************************/
.section4 {
    display: flex;
    background-color: hsl(207, 100%, 98%);
    justify-content: space-between;
    padding: 0 20px;  
    margin: auto;
    color: hsl(192, 100%, 9%);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.sec4-text {
    margin-top: 180px;
    flex: 1;
    
    padding-left: 180px;  
}

.sec4-text h1 {
    text-transform: capitalize;
    color: hsl(192, 100%, 9%);
   
}

.sec4-img {
    max-width: 40%;
    margin-top: 10px;
    height: auto;  
    flex: 1;
    padding-right: 180px;  
}
/************************************************************/
.section6{   display: flex;
    background-color: hsl(207, 100%, 98%);
 
    justify-content: space-between;
 
     color: hsl(192, 100%, 9%);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0 2px; 
    margin:   0 0;
  
}

.sec6-img{

    max-width: 40%;
    margin-top: 10px;
    height: auto;  
    flex: 1;
    padding-left: 140px;  

}
.sec6-text h1{ text-transform: capitalize;
    color: hsl(192, 100%, 9%);


}
.sec6-text{
    text-transform: capitalize;
    color: hsl(192, 100%, 9%);
    margin-top:200px ;
    margin-right: 140px;
 
}

/*********************************************************/
#section5{   
    
   
     display: flex;
     background-image: url(images/bg-section-top-desktop-1.svg);
     background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    width: 100%;
     
    margin-top: 200px;
  }
/*************************************************************/

.section7 {
    display: flex;
    background-color: hsl(207, 100%, 98%);
    justify-content: space-between;
    padding: 0 20px;  
    margin: auto;
    color: hsl(192, 100%, 9%);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
 }

.sec7-text {
    margin-top: 180px;
    flex: 1;
    
    padding-left: 180px;  
}

.sec7-text h1 {
    text-transform: capitalize;
    color: hsl(192, 100%, 9%);
   
}

.sec7-img {
    max-width: 40%;
    margin-top: 10px;
    height: auto;  
    flex: 1;
    padding-right: 180px;  
}


#section-button{ 
    background-image: url(bottom-mobile-1.svg);
     background-repeat: no-repeat;
    background-size: cover;
     
    height: 200px;
    width: 100%;
     
    }
    /*****************************************************/
    .section8 h1{text-align: center;
    text-transform: capitalize;
    color: hsl(192, 100%, 9%);

    }

/*************************************************************/
.section9-footer{
    background-image: url(images/bg-footer-top-desktop.svg);
     background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100px;
}

/*********************************************************/ 
#footer {
    display: flex;
    justify-content: space-between;  
    padding: 20px;  
    background-color: #f8f8f8; 
    background-color: hsl(192, 100%, 9%);
}

.NEWSLETTER-section {
    color: white;
    flex: 1; 
    margin-right: 20px; 
    font-family: Arial, Helvetica, sans-serif;
}
.NEWSLETTER-section p{font-size: 15px;
color: white;}

.NEWSLETTER-section input{
    width:180px;
    height: 20px;
    border: none;
    border-radius: 6px;
    
    }
    .btn{ width: 100px;
        height: 20px;
        border-radius: 4px;
        background-color: hsl(322, 100%, 66%);
        color: white;
        border: none;


    }

.hundel-section {
    flex: 1;  
    text-align: left; 
    color: white;
}

.phone {
    display: flex;  
    align-items: center; 
    gap: 10px;  
    color: white;
}

.phone p {
    margin: 0;  
      color: white;
}

.social-icons {
    display: flex; 
    flex-direction: row; 
    gap: 5px; 
    margin-top: 14px;
    color: white;
}

.social-icons i {
    font-size: 24px; 
}




/* Responsive Styles */
@media (min-width: 375px) and (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
         
    }

    .button-2 {
 margin: 30px auto 0;
text-align: center;
margin-bottom: 40px;
 
         
    }
    .logo {
        width: 100px;
         margin-left:0;
        margin-top: 20px;
    }

    .button {
        width: 40% !important; 
        margin-right: 50%;
        margin-top: 0px;
        margin-bottom: 50px;
       margin-left: 50%;

        
         
    }
    .image1{
        margin-top: 20px;
        margin-bottom: 2px;
        width: 100%;
       align-items: center;
    }

    .section1 {
        margin-top:10px; 
        width: 100%;
    }
    .section3{

        width:100%;
        height: 20px;
        background-size: cover;
        
    }

    .section1 h1,
    .section1 p {
        font-size: 1.1rem; 
        padding: 0 10px;  
    }
    .section8 h1{

        font-size: 20px;
        padding: 0 10px; 
        margin-left: 0;

    }
    /**************************************************/

    .section2 p br {
        margin-left: 0; 
    }

    .section2 img {
        width: 50px; 
        margin-top: 30px;
    }

    /********************************************/
    .section4 , .section7{
        flex-direction: column; 
       align-items: center;
        padding: 0px;  
        width: 100%;
    }

    .sec4-tex ,.sec7-text  h1 p { text-align: center;
       
        
         
    }

    .sec4-img,.sec7-img {
        max-width: 100%; 
         text-align: center;
         margin: auto;
        
    }
    /***************************************************/
    #section5{
        height: 200px; 
        margin-top: 100px; 
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .section6 {
        flex-direction: column;
        padding: 0 10px; 
        margin: 0; 
        width: 100%;
    }

    .sec6-img {
        max-width: 80%;  
        padding-left: 0; 
        margin: 0 auto;  
    }

    .sec6-text {
        text-align: center; 
        margin-top: 10px;  
        margin-right: 0;  
        font-size: 16px; 
    }


    #divbig{ margin: auto;

    }

    .sec6-text h1 {
        font-size: 20px;  
        margin: 0;  
    }

    #section-button{ 
          background-size: cover;
        height: 120px;
        width: 100%;
        }

        .section8 h1 {
            font-size: 1.5em; 
        }
        .section9-footer {
            background-image: url(images/bg-footer-top-mobile.svg);  
            background-size: cover; 
            height: 80px;  
        }
        #footer {
            flex-direction: column;
        }
        
        .NEWSLETTER-section, .hundel-section {
            margin-right: 0;  
            margin-bottom: 20px;  
        }
    
        
}
